# Ignorar arquivos e pastas desnecessárias no build
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
.env
.env.*
.vscode/
.idea/
.git/
.gitignore
tests/
chrome-profile/
Dockerfile*
docker-compose.yml